:root {
  --colour-primary: white;
  --colour-secondary1: fuchsia;
  --colour-secondary2: black;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--colour-secondary2);
  background-color: var(--colour-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
