.header {
    width: 100vw;
    background-color: #f8f9fa;
    height: 10vh; /* Adjust based on your header size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
}
